// sass modules
@use "./style_modules/base";
@use "./style_modules/search-bar";


// font
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap');



/*
main color
#3867d6


red : #eb3b5a
*/
:root {
    --main-blue:#3867d6;
    --main-red:#eb3b5a;
    --mobile-breakpoint-width:800px;
}


.img-test-1 {
    width:250px;
}



.app {
    position: relative;
    background:#efefef;
    height: 100vh;
}





/*navbar*/
.navbar {
    display:flex;
    justify-content: space-between;
    align-items:center;
    background:#333;
    color:#fff;
    z-index:100;

    position:sticky;
    top:0;
    max-width:2250px;
    margin:0 auto;
}

.brand-title {
    font-size:1.5rem;
    margin:0.5rem;
}

.navbar-links ul {
    margin:0;
    padding:0;
    display: flex;
}

.navbar-links li a {
    text-decoration: none;
    color:#ffff;
    padding:1rem;
    display: block;
}

.navbar__toggle-btn {
    position: absolute;
    top:1.75rem;
    left:1rem;
    color:#fff;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
    cursor: pointer;
}

.navbar__toggle-btn__bar {
    width:100%;
    height: 3px;
    background:#fff;
    border-radius: 10px;
}

.navbar__info {
    ul {
         display:flex;
         align-items: center;
    }

    li {
        padding:1rem;
     }
}

.navbar__item-cart {
    position: relative;
    display:flex;
    justify-content: center;
    align-items:center;
    color:#fff;
    cursor: pointer;
}

.cart-icon {
    font-size:2rem;
    color:rgb(230, 230, 230);
}

.navbar__item-cart__amt {
    position: absolute;
    background:#444;
    width:18px;
    height:18px;
    font-size:0.8rem;
    border-radius: 50%;

    display:flex;
    justify-content: center;
    align-items:center;
    color:#fff;
    font-weight: 600;
    left:175%;
    top:-25%;
    transform: translate(-175%, 25%);
}

@media (max-width:800px) {
    .navbar__toggle-btn {
        display:flex;
    }

    .navbar {
        flex-direction: column-reverse;
        align-items:flex-end;
    }

    .navbar-links  {
        display:flex;
        width:100%;
        transition: max-height 0.4s;
        overflow: hidden;
        max-height: 0;

        ul {
            width:100%;
            flex-direction: column;
        }

        li {
            text-align:center;
        }
    }
}

.navbar-links--active {
    max-height: var(--max-height);
}





/*main content body*/
.app__body {
    position: relative;
    display:grid;
    grid-template-columns: 150px minmax(400px, 800px);
    padding:1.75rem 1rem 0rem 1rem;
    justify-content: center;
}

.filter-content {
    color:#222;
    position: sticky;
    top:5.5rem;
    height:500px;
    // background:rgba(0, 0, 255, 0.137);
}

.filter-content__filter {
    transition: max-height 0.4s;
    overflow: hidden;
    // max-height: 0;
}

.filter-content__filter--active {
    // max-height: var(--max-height);
}

.filter-content__clear-filter {
    font-size:1rem;
}

.filter-content__btn {
    position: relative;
    display:flex;
    align-items:center;

    i {
        position: relative;
        top:3px;
        margin-right:0.25rem;
    }
}

.filter-content__heading {
    margin-top:0.75rem;
    font-weight: 400;
    font-size:1.25rem;
}

.filter-content__form {
    display:flex;
    flex-direction: column;

    > * {
        margin:0.25rem 0 0 1rem;
    }

    > *:first-of-type {
        margin-top:0.25rem;
    }
}




.body__main-content {
    position: relative;
}

.body__main-content__inner {
    position: relative;
    // display:grid;
    // grid-template-rows: 1fr fr;
    background:rgba(255, 0, 0, 0.349);
}



.slider {
    position: relative;
    height:350px;
    // background:rgba(255, 0, 0, 0.349);
    // overflow:hidden;
}


.slider__btn {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    height:30%;
    padding:0.5rem;
    font-size: 1.5rem;
    background-color:rgba(61, 61, 61, 0.4);
    color:rgb(235, 235, 235);
    transition: background-color 0.2s ease;
    z-index:25;
}

.slider__btn:hover {
    background-color:rgba(61, 61, 61, 0.6);
    cursor: pointer;
}

.slider__btn:active {
    background-color:rgba(61, 61, 61, 0.4);
    cursor: pointer;
}

.slide__btn-previous {
    left:0;
}

.slide__btn-next {
    right:0;
}

.slider__img {
    position: absolute;
    object-position: center center;
    object-fit: cover;
    width:100%;
    height:100%;
    display:block;
}









/*shop stuff*/
.product-content-container {
    position: relative;
}

.product-content {
    position: relative;
    background-color:#efefef;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.product-content__item {
    background:#fff;
    display:grid;
    padding:1rem;
    margin:1rem;
}

.product-content__item:nth-of-type(1) {
    margin-left:0;
}

.product-content__item:nth-of-type(2) {
    margin-right:0;
}

.product-content__item__info {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0 0.5rem;

    .item-name {
        font-weight: 400;
        text-align: center;
    }
}

.content__item__img {
    max-width:100%;
    width:200px;
    height:200px;
    margin:0 auto;
    object-fit: cover;
    object-position: center center;
}

.product-content__item__info {
    margin:0.75rem 0;
}

.product-content__description {
    text-align: center;
}

.item__add-to-cart {
    position: relative;
    background:var(--main-blue);
    color:#fff;
    font-size: 1rem;
    margin:1rem 0;
    padding:0.5rem 1rem;
    width:80%;
    left:50%;
    transform:translateX(-50%);
    border-radius: 3px;
    transition: opacity 0.1s ease;
}

.item__add-to-cart:hover {
    opacity: 0.9;
    cursor: pointer;
}

.item__add-to-cart:active {
    opacity: 1;
    cursor: pointer;
}





// mobile body
@media(max-width:800px) {
    .app__body {
        grid-template-columns:1fr;
    }

    .filter-content {
        display:none;
    }

    .product-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .body__main-content__inner {
        position: relative;
        // display:grid;
        // grid-template-rows: 1fr 150fr;
    }
}





/*cart*/
.cart-container {
    position: absolute;
    width:100vw;
    height:100vh;
    background:rgba(68, 68, 68, 0.5);
    top:0;
    left:0;
    display:none;
    z-index:-999;
}



.cart {
    position: absolute;
    width:500px;
    height:600px;
    background:#fff;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:none;
    grid-template-rows: 4rem 1fr 4rem;
    border-radius: 7px;
    z-index:-999;

    img {
        max-width:75px;
    }
}

.cart__header {
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0.5rem 1rem;

    .close-cart-btn {
        position: absolute;
        background:#fff;
        filter:drop-shadow(0px 2px 2px rgba(17, 17, 17, 0.25));
        color:var(--main-red);
        font-size:1.5rem;
        width:30px;
        height:30px;
        border-radius: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        top:-15%;
        left:95%;
        cursor: pointer;
    }

    h2 {
        font-weight: 400;
    }

    .total-price {
        font-size:1.75rem;
        font-weight: bold;
    }
}


.cart__contents {
    background-color:#efefef;
    position: relative;
    height:inherit;
    overflow:auto;

    .delete-cart-item-btn {
        position: absolute;
        background:#fff;
        filter:drop-shadow(0px 2px 2px rgba(17, 17, 17, 0.25));
        color:var(--main-red);
        font-size:1.5rem;
        width:30px;
        height:30px;
        border-radius: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        top:-10%;
        left:95%;
    }

    .delete-cart-item-btn:hover {
        opacity:0.9;
        cursor: pointer;
    }
// overflow scroll w/ the ul in  the cart

    ul {
        position: relative;
        display:flex;
        align-items: center;
        flex-direction: column;
        background:#efefef;
        padding:1rem;
        height:100%;
    }

    li {
        position: relative;
        display:flex;
        align-items: center;
        background:#fff;
        width:100%;
        margin:0.5rem 0;
        border-radius: 3px;
        padding:1rem;

        img {
            width:75px;
            height:75px;
            margin-right: 1rem;
        }

        .cart-item__info {
            margin:0 1rem;
            // display:flex;
        }

        .amount-container {
            position: relative;
            display: flex;
            font-size: 2rem;
            justify-content: center;
            align-items: center;
            margin-left:auto;
            margin-right:1rem;

            .cart-amt-btn {
                font-size:2rem;
                color:#ddd;
                transition: filter 0.2s ease;
            }

            .cart-amt-btn:hover {
                filter:brightness(0.85);
                cursor: pointer;
            }
            .cart-amt-btn:active {
                filter:brightness(1);
                cursor: pointer;
            }

            .amount-container__amt {
                margin:0 0.5rem;
            }
        }

    }

    .cart-amt-btn__decrease {
        position: relative;
        top:1px;
    }
}




.cart__add-to-cart-btn {
    position: relative;
    background-color:var(--main-blue);
    color:#fff;
    width:100%;
    display:block;
    padding:0.75rem;
    font-size:1.5rem;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition:filter 75ms ease;
}

.cart__add-to-cart-btn:hover {
    filter:saturate(1.25);
    cursor: pointer;
}

.cart__add-to-cart-btn:active {
    filter:saturate(1);
    cursor: pointer;
}


// cart active classes
/*apply .cart--open to the body*/
.cart--open {
    overflow:hidden;
}

.cart-container--active {
    display:block;
    z-index:150;
}

.cart--active {
    display:grid;
    z-index:200;
}