// sass modules
@use "./style_modules/base";
@use "./style_modules/search-bar";


// font
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap');



/*
main color
#3867d6


red : #eb3b5a
*/
.img-test-1 {
    width:250px;
}



.app {
    position: relative;
    background:#efefef;
    width:100vw;
    height: 100vh;
}





/*navbar*/
.navbar {
    display:flex;
    justify-content: space-between;
    align-items:center;
    background:#333;
    color:#fff;
}

.brand-title {
    font-size:1.5rem;
    margin:0.5rem;
}

.navbar-links ul {
    margin:0;
    padding:0;
    display: flex;
}

.navbar-links li a {
    text-decoration: none;
    color:#ffff;
    padding:1rem;
    display: block;
}

.navbar-links li:hover {
    background:#555;
}

.navbar__toggle-btn {
    position: absolute;
    top:1.75rem;
    left:1rem;
    color:#fff;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
    cursor: pointer;
}

.navbar__toggle-btn__bar {
    width:100%;
    height: 3px;
    background:#fff;
    border-radius: 10px;
}



.navbar__info {
    ul {
         display:flex;
         align-items: center;
    }

    li {
        padding:1rem;
     }
}

.navbar__item-cart {
    position: relative;
    display:flex;
    justify-content: center;
    align-items:center;
    color:#fff;
}

.cart-icon {
    font-size:2rem;
    color:rgb(230, 230, 230);
}

.navbar__item-cart__amt {
    position: absolute;
    background:#444;
    width:18px;
    height:18px;
    font-size:0.8rem;
    border-radius: 50%;

    display:flex;
    justify-content: center;
    align-items:center;
    color:#e6e6e6;
    font-weight: 600;
    left:175%;
    top:-25%;
    transform: translate(-175%, 25%);
}

@media (max-width:500px) {
    .navbar__toggle-btn {
        display:flex;
    }

    .navbar {
        flex-direction: column-reverse;
        align-items:flex-end;
    }

    .navbar-links  {
        display:flex;
        width:100%;
        transition: max-height 0.4s;
        overflow: hidden;
        max-height: 0;

        ul {
            width:100%;
            flex-direction: column;
        }

        li {
            text-align:center;
        }
    }
}

.navbar-links--active {
    max-height: var(--max-height);
}





/*main content body*/
.app__body {
    display:grid;
    grid-template-columns: 1fr 2fr;
    padding:1.75rem 1rem 0rem 1rem;
    background:rgba(0, 0, 255, 0.137);
}

.filter-content {
    color:#222;
}

.filter-content__filter {
    transition: max-height 0.4s;
    overflow: hidden;
    // max-height: 0;
}

.filter-content__filter--active {
    // max-height: var(--max-height);
}

.filter-content__clear-filter {
    font-size:1rem;
}

.filter-content__btn {
    position: relative;
    display:flex;
    align-items:center;

    i {
        position: relative;
        top:3px;
        margin-right:0.25rem;
    }
}

.filter-content__heading {
    margin-top:0.75rem;
    font-weight: 400;
    font-size:1.25rem;
}

.filter-content__form {
    display:flex;
    flex-direction: column;

    > * {
        margin:0.25rem 0 0 1rem;
    }

    > *:first-of-type {
        margin-top:0.25rem;
    }
}




.body__main-content {
    position: relative;
    display:grid;
    grid-template-rows: 1fr 2fr;
}


.slider {
    position: relative;
    background:rgba(255, 0, 0, 0.349);
    // overflow:hidden;
}

.slider__img {
    position: absolute;
    object-position: top center;
    object-fit: cover;
    width:100%;
    height:100%;
    display:block;
}



// mobile body
@media(max-width:500px) {
    .app__body {
        grid-template-columns:1fr;
    }

    .filter-content {
        display:none;
    }
}


